.sim-tooltip {

  &__bubble {
    transition: all $default-ms ease-out;
  }
  &:hover {
    .sim-tooltip__bubble {

      &--up, &--down {
          animation: tooltipsVert calc($default-ms / 2) ease-out forwards;
      }

      &--up--left, &--down--left {
        animation: tooltipsVertLeft calc($default-ms / 2) ease-out forwards;
      }
    }
  }
}

// opinions
.sim-tooltip {

  &__bubble {
    width: 12em;
    background: $darker;
    color: $lightest;
    box-shadow: 0 .5em 2em -.5em $shadow;
    &--up::after,
    &--up--left::after {
      border-top-color: $darker;
    }
    &--down::after,
    &--down--left::after {
      border-bottom-color: $darker;
    }
  }
}
