$breakMD: 43.75em; // 700
$breakLG: 62.75em; // 1005
$breakXL: 125em; // 2000


nav {
  margin: 0;
  padding: 0;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.app-nav {
  display: flex;
  flex-grow: 1;

  nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    padding: 0;
  }

  a {
    background: transparent;
    color: var(--action-light);
    display: flex;
    padding: 1em;
    transition: .35s ease;

    &:hover,
    &:focus,
    &.router-link-active {
      background: var(--lightest);
      //box-shadow: 0 -.25em 0 0 var(--hover, var(--action)) inset;
      box-shadow: 0 .2em 0 0 var(--hover, var(--action)) inset;
      color: var(--active);
      outline: 0;
    }
    // &.router-link-active {
    //   background: var(--lightest);
    //   box-shadow: 0 .2em 0 0 var(--hover, var(--action)) inset;
    //   color: var(--active);
    // }
  }

  @media (max-width: $breakMD) {
    flex: 1 0 100%;

    ul {
      flex-direction: column;
      padding-bottom: 1rem;
    }

    li a {
      flex-grow: 1;
    }
  }

  @media (max-width: $breakLG) {

  }

  @media (min-width: $breakMD) {

    display: flex !important;

    li:last-child {
      //margin-left: auto;
    }
  }

  @media (min-width: $breakLG) {

    nav ul {
      justify-content: flex-end;
    }

    li:last-child {
      //margin-left: auto;
    }
  }
}

// app menu

.app-menu {
  margin: 0;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1.5em;
  padding-left: 0;

  li {
    list-style: none;
    padding: .5em .5em .5em 1em;
  }

  a {
    color: var(--action);

    &.router-link-exact-active {
      color: var(--medium-grey);
    }
  }

  header {
    background: var(--medium-grey);
    color: var(--light);
    padding: .5em 1em;
  }

  section li {
    padding: .5em 0 .5em 2.875em;
  }
}

.toggle-button {
  background: transparent;
  border-radius: 0;
  padding: 1em;

  &:hover,
  &:focus {
    box-shadow: none;
    outline: 0;
    transform: none;
  }

  &--main-menu {
    color: var(--light);
    padding-right: 1.3rem;
    padding-left: 1.3rem;

    &:hover,
    &:focus {
      background: var(--ghost);
      color: var(--light-grey);
    }

    @media (min-width: $breakMD) {
      display: none;
    }
  }

  &--sidebar {
    //background: var(--lighter);
    //box-shadow: 0 -1px 0 var(--edge) inset;
    //color: var(--grey);
    font-size: .87rem;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    grid-row: 1 / 1;
    text-transform: uppercase;

    .sim-icon::before {
      font-size: 1.125em;
      top: 0;
      position: relative;
      margin-right: 2px;
      transition: transform .35s ease;
    }

    &.target-is-visible .fa {
      //transform: rotate(180deg);
    }

    &:hover,
    &:focus,
    &.target-is-visible {
      box-shadow: 0 -1px 0 var(--edge) inset;
      transform: none;
    }

    @media (max-width: $breakMD) {
      width: 100%;
    }

    @media (min-width: $breakLG) {

      span:not(.sim-icontext):not(.sim-icon) {
        display: none;
      }

      .sim-icon::before {
        font-size: 1.5em;
        margin-right: 0;
        //top: -2px;
      }
    }

    @media (min-width: $breakXL) {
      //display: none;
    }
  }
}

.skip-link {
  align-items: center;
  background: var(--action);
  color: var(--light);
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  line-height: 1;
  max-height: 0;
  outline: none;
  overflow: hidden;
  position: sticky;
  text-align: center;
  transition: .35s ease;
  width: 100%;
  z-index: 1001;

  &:focus {
    box-shadow: none;
    color: #FFF;
    max-height: 100px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
}
