// overrides
.hljs {
  background: none;
  box-shadow: none;
  padding: 0;
  color: var(--dark);

  &::before,
  &::after {
    //display: none;
  }
}

.fa-events-icons-failed {
  .fa {
    display: none;
  }
  .sr-only {
    position: relative;
    height: auto;
    width: auto;
    margin: initial;
    padding: initial;
  }
}
